@(username: String)

@headParts = {
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <style>
        .tabs .indicator {
            background-color: white;
            height: 5px;
        }
    </style>
    <script>
        window.onload = function WindowLoad(event) {
            getProfile();
            getRecs();
        };

        function getRecs() {
            let req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    let msg = JSON.parse(req.responseText);
                    let res = msg['@username'];
                    document.getElementById('friendRec').innerHTML = "<br/><br/><div class='container'>" +
                            "   <div class='row'>\n";
                    for (index in res)
                        document.getElementById('friendRec').innerHTML += "   <div class='col s12 m4 z-depth-2'>" +
                                "       <div class='icon-block'>" +
                                "           <h2 class='center'><img src=\"https://www.drupal.org/files/profile_default.jpg\" alt=\"\" class=\"circle\" width='42' height='42'></h2>\n" +
                                "           <h5 class='center'>" + res[index] + "</h5>\n" +
                                "           <p class='center'>" +
                                "               <a onclick=\"updateFriends('" + res[index] + "', 'POST')\" class=\"btn-floating halfway-fab waves-effect waves-light blue\"><i class=\"material-icons\">add</i></a>" +
                                "           </p>\n" +
                                "       </div>\n" +
                                "   </div>\n";

                    document.getElementById('friendRec').innerHTML += "   </div>\n" +
                                                                            "</div>\n";
                }
            };
            req.open("GET", "http://localhost:9000/restful/recommend/@username", true);
            req.send(null);
        }

        function search(name, item) {
            let req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    let res = JSON.parse(req.responseText);
                    document.getElementsByClassName("search-results").item(item).innerHTML = "";
                    for (index in res)
                        document.getElementsByClassName("search-results").item(item).innerHTML += "<a style='z-index: 5' href='#!'>" + res[index] + "</a>\n"
                }
            };
            req.open("GET", "http://localhost:9000/restful/search/" + name, true);
            req.send(null);
        }

        function getProfile(s) {
            let req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    let res = JSON.parse(req.responseText);
                    document.getElementById('friend').innerHTML = (res.conFriends.length != 0) ? res.conFriends : "<p class='center blue-text' style='font-size: 24px'>No Friends Yet :/</p>";
                    document.getElementById('request').innerHTML = (res.penFriends.length != 0) ? res.penFriends : "<p class='center blue-text' style='font-size: 24px'>No Friend Requests Yet :/</p>";
                    document.getElementById('pending').innerHTML = (res.reqFriends.length != 0) ? res.reqFriends : "<p class='center blue-text' style='font-size: 24px'>No Friend Requests Sent :/</p>";
                    if (res.message !== null && res.message !== undefined)
                        document.getElementsByClassName('search-results').innerHTML = res.message;
                }
            };
            req.open("GET", "http://localhost:9000/restful/profile?username="
                    + '@username' + "&name="
                    + s, true);
            req.send(null);
        }

        function updateFriends(user, request) {
            let req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    getProfile("");
                    getRecs();
                }
            };
            req.open(request, "http://localhost:9000/friends/"
                    + '@username'
                    + "/" + user, true);
            req.send(null);
        }

    </script>
}

@main("Friends", headParts) {
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper blue">
                <ul id="slide-out" class="right side-nav">
                    <li class="logo center">
                        <img src="https://www.drupal.org/files/profile_default.jpg" alt="" class="circle" width="64" height="64">
                    </li>
                    <li class="search">
                        <form action="javascript:search(document.getElementById('search1').getElementsByClassName('black-text')[0].value, 0)" autocomplete="off">
                            <div id="search1" class="search-wrapper">
                                <input id="search" class="black-text">
                                <div class="search-results"></div>
                            </div>
                        </form>
                    </li>
                    <li><a href="@routes.ProfileController.displayPage">Profile</a></li>
                    <li><a href="@routes.FriendController.displayPage(username)">Friends</a></li>
                    @*<li><a href="@routes.SettingsController.displayPage(username)">Settings</a></li>*@
                    <li><a class="red-text" href="@routes.LoginController.displayPage">Logout</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form action="javascript:search(document.getElementById('search2').getElementsByClassName('mainSearchBar')[0].value, 1)" autocomplete="off">
                            <div id="search2" class="input-field" style="height: 64px">
                                <input id="search" type="search" class="mainSearchBar"/>
                                <label for="search"><i class="material-icons">search</i></label>
                                <div class="search-results blue"></div>
                            </div>
                        </form>
                    </li>
                    <li><a href="#!">Friends</a></li>
                    @*<li><a href="@routes.SettingsController.displayPage(username)">Settings</a></li>*@
                    <li><a class="red-text" href="@routes.LoginController.displayPage">Logout</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>

                <a href="@routes.ProfileController.displayPage()" class="brand-logo left">Hello, @username!</a>

            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent blue">
                    <li class="tab"><a class="white-text" href="#friend">Friends</a></li>
                    <li class="tab"><a class="active white-text" href="#request">Pending Requests</a></li>
                    <li class="tab"><a class="white-text" href="#pending">Requests Sent</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <br/><br/>

    <div id="friend" class="col s12"></div>
    <div id="request" class="col s12"></div>
    <div id="pending" class="col s12"></div>


    <!-- Main Content Start -->

    <br/><br/><br/>
    <div class="divider"></div>
    <div class="row">
        <div class="center z-depth-2 white-text blue lighten-1" style="font-size: 24px">Recommendations</div>
        <div id="friendRec"></div>
    </div>

    <!--  Main Content End  -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
            $(document).ready(function () {
                $('.button-collapse').sideNav();
            })
    </script>
}